$light-pink: #FFECF4;
$pink: #ffd1e0;
$dark-pink: #ffa7c4;
$sky: #c9ebff;
$light-sky: #e1f1fb;
$matcha: #c8fcd4;
$light-matcha: #e4fdea;
$sun: #ffe8bf;
$light-sun: #fef5e6;
$dull-green: #88c0ac;
$teal: #007373;
$background: #fefefe;
$font-color: #333333;
$border-radius: 5px;
$transition: 0.3s ease;
$font-family: "Montserrat", sans-serif;

$xxs-max-width: 425px;

$xs-min-width: 426px;
$xs-max-width: 576px;

$s-min-width: 577px;
$s-max-width: 768px;

$m-min-width: 769px;
$m-max-width: 992px;

$l-min-width: 1200px;

* {
    margin: 0;
    padding: 0;
    background-color: $background;
}

p, h1, h2, h3, h4, h5, h6, li, label, input, button, textarea {
    color: $font-color;
    font-family: $font-family;
    font-weight: 200;
}

a {
    color: $teal;
    background: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 300vh;;
    > section {
        width: 60%;
        margin: 5rem 0;
    }
}

li {
    list-style-type: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: inherit;
}

#root {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 100px;
}

.scroll-section {
    scroll-snap-align: start;
    overflow-y: scroll;
}

@media (max-width: $s-max-width) {
    #banner {
        scroll-snap-align: none;
    }
    nav {
        scroll-snap-align: start;
    }
    main > section {
        width: 80%;
    }
}


footer {
    scroll-snap-align: end;
}

h2 {
    width: 100%;
    text-align: center;
}