@import "common";

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: none;
    ul {
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 8rem;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.75rem;
            background: none;
            border-radius: $border-radius;
            &:hover {
                cursor: pointer;
            }
            svg, a {
                padding: 1rem 0.5rem;
                font-weight: 400;
                text-decoration: none;
                background: none;
                color: $teal;
                transition: color $transition;
                &:hover {
                    color: $dull-green;
                }
            }
        }
    }
}