@import "common";

#projects-section {

    #projects-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .project-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            width: 45%;
            border-radius: $border-radius;
            background-color: $light-pink;
            margin: .5rem auto;
            padding: .5rem;
            * {
                background-color: inherit;
            }
        }
    }
}