@import "common";

#projects-section {

    #projects-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 24rem;
        transition: height $transition;
        overflow: hidden;



        &.showingmore {
            transition: height $transition;
        }

        .project-card {
            color: $font-color;
            font-weight: 300;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 45%;
            height: 10rem;
            border-radius: $border-radius;
            margin: .5rem auto;
            padding: .5rem;
            background-size: 30%;
            background-position: center;
            position: relative;
            transition: background-size $transition;

            h3 {
                transition: font $transition;
            }

            * {
                background: none;
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(255,236,244, 0.95);
                // z-index: 1;
                border-radius: $border-radius;
            }

            .links {
                display: flex;
                flex-direction: row;
                a {
                    color: $dull-green;
                    transition: color $transition;
                    padding: .25rem;
                    cursor: pointer;
                    &:hover {
                        color: $background;
                    }
                }
            }

            .stack {
                height: 1.5rem;  
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                align-items: center;
                width: 40%;
                justify-content: space-around;

                .lang-label {
                    display: none;
                }

                .lang-icon {
                    color: $teal;
                    background: none;
                    height: 100%;
                    width: auto;
                    transition: color $transition;

                    >svg, >img, >i {
                        text-decoration: none;
                        font-style: normal;
                        height: 100%;
                        width: auto;
                        font-style: normal;
                    }
                }
            }
             
            &:hover {
                background-size: 35%;
                h3 {
                    font-size: 1.5rem;
                }
            }
        }


        @media (max-width: $xxs-max-width) {
            flex-direction: column;
            flex-wrap: nowrap;
            .project-card {
                width: 70%;
                padding: 1rem;
                
                h3 {
                    font-weight: 300;
                }
                .stack,.links {
                    margin: .5rem;
                }
            }
        }
    }

    #show-more {
        display: flex;
        justify-content: flex-end;
        p {
            padding: 1rem 1rem 3rem;
            cursor: pointer;
        }
        @media (max-width: $xxs-max-width) {
            justify-content: center;
        }
    }
}